<!DOCTYPE html>
<html lang="en">


<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../../public/css/main.css" />
  <title>{{title}}</title>
</head>

<body>
  <div class="v23_43">
    <div class="v23_38"></div>
    <div class="v24_45"></div>
  
    <a href="budget"><span class="v21_8">Budgeting</span></a>
    <a href="credit"><span class="v21_9">Building Credit</span></a>
    <a href="debt"><span class="v21_10">Managing Debt</span></a>
    <a href="quiz"><span class="v21_11">Fun Quiz!</span></a>
    <a href="/"><span class="v23_42">JR & Co.</span></a>
  </div>
       {{{body}}}
    </body>
</html>