<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../../public/css/main.css" />
    </head>
    <body>
       {{{body}}}
    </body>



<script scr="../../public/js/quiz.js"></script>
</html>