<h1>Budgeting!</h1>
<div class="infoBody">
<h2>What is Budgeting</h2>
<p>Budgeting is the action of estimating your income and your expenses in order
  to manage your cash flow and see where every dollar is coming from and going.
  Having a budget is a great way to be in control of your money. It can be used
  as a stepping stone for saving up for any type of project or event. Having a
  budget has many great benefits to help save money. One of the most important
  benefits of having a budget is that it brings awareness to your spending
  habits, like do you really need to spend $10 on your venti iced caramel
  macchiato with two shots of decaf espresso, light ice, and oat milk?
  lngjfngjfnjfjfnfngjf
</p>
<h2>How to Start Your Own Budget</h2>
<ol>
  <li>
    <p>The most important part of a budget is to define your short-term and
      long-term money goals. Whether that is spending more money on groceries,
      spending less money on takeout, or saving money to go on a romantic
      getaway trip with your significant other. Determining these financial
      goals will help set a foundation for your budget.</p></li>
  <li>
    <p>
      After you determine your goals, then comes trying to find your current
      spending habits. This step is important because this will help you create
      a realistic budget that is unique to you. To start this process, you
      should first track all of your money for about a month. This includes
      tracking exactly how much money you make (from your job paychecks, side
      hustles, etc.) and tracking all your expenses. When tracking all your
      expenses, it is essential that you keep an eye out for every transaction
      that you make, including every coffee stop, every subscription fee, etc.
      Looking at all your transactions can help you see where all your money is
      going, which categories most of your money is going to, and it will be a
      good base to refer to when making your budget. As stated before, due to
      different circumstances, everyone’s budget is going to be different, not
      to mention tracking everything will make your budget reasonable based on
      your current spending habits.
    </p>
  </li>
  <li>
    <p>After determining your total monthly income and expenses, you can develop a budget plan and 
</p>
  </li>
</ol>
</div>