<h1>Managing Your Debt</h1>
<div = class="infoBody">
<p>Having a large amount of debt impacts your credit score depending on how well
  you're managing it. Debt management helps you plan and budget your money to
  keep your debt under control and lowers it to the point where you’ve paid it
  all off. You have the options of managing your debt yourself or hiring a
  credit counselor to guide you into developing a plan to repay your balances.
  Depending on the amount of debt you have, you may also hire a debt relief
  company so they renegotiate and settle the terms of your debt with your debt
  or credit collector. If your situation is unmanageable, then filing for
  bankruptcy may be the best option.
</p>
<h2>Managing Your Debt Yourself</h2>
<p>By managing your debt yourself, you develop your own long-term plan to repay
  your debts by utilizing budget and repayment calculators, and financial
  management apps. You should start by determining which outstanding debt is
  causing more financial problems by creating a list of them with their interest
  rate. Consider what areas you think you can cut back on spending or eliminate
  each month to reduce your amount of additional debt. Then determine the amount
  of money you need to pay each month by considering the amount of minimum
  payments and including them in your budget. If the amount is within your
  budget, consider devoting extra money towards your debt. However, if the
  amount is higher than the amount your budget can handle, consider contacting
  your credit collector yourself to arrange different terms. You can then decide
  whether you want to close or keep your accounts once your debts are repaid.
</p>
<h2>Hiring a Credit Counselor</h2>
<p>
  A credit counselor helps you create a long-term plan to ensure you repay your
  outstanding balances and may even choose to close your accounts as each debt
  is repaid to avoid further increasing your debt. A counselor teaches you money
  management skills and helps you set up a working budget. They can help you
  lower your interest rate by half or more on your credit card and pay off the
  debt over a 3-5 year repayment plan. They consolidate several debts into one
  payment instead of focusing on one debt. It is important to note that a credit
  counselor usually charges a set up and monthly fee and can only help with
  credit card debts.
</p>
<h2>Hiring a Debt Settlement Company</h2>
<p>Hiring a debt settlement company can reduce the amount of debt you owe to the
  creditor by negotiating with them. This option should only be considered after
  working, with a credit counselor and negotiating directly with the creditor
  collector yourself. This option can be risky since debt settlement companies
  often charge expensive fees, encourage you to stop paying your credit card
  bills, and working with them may lower your credit score and may not even be
  able to settle all your debts. It is important to also keep in mind that your
  credit or debt collector may also not be willing to work with the debt
  settlement company you chose and may even file a lawsuit against you.
</p>
<h2>File for Bankruptcy</h2>
<p>If the full repayment of your debt seems unmanageable, filing for bankruptcy
  could help you get out of debt. You may file for Chapter 7 or Chapter 13
  consumer bankruptcies. Chapter 7 is a liquidation bankruptcy where assets are
  liquidated to pay off debts and the remaining debts are discharged. Chapter 13
  is a repayment plan bankruptcy where a 3-5 year repayment plan is developed
  and once you’ve completed it, all remaining debts are discharged. It is
  important to note that this option severely damages your credit and remains on
  your credit report for 7-10 years, could make you lose assets of value, and
  exempts federal student loans.
</p>
</div>